body {
  background: #f8f8f8;
}

#overlay,
#cv
 {
  position: absolute;
  top: 0;
}

#overlay {
  pointer-events: none;
}

.vehicle {
  fill: rgba(255,255,255, .9);
  stroke: rgba(0,0,0,.1);
}

.streets {
  /*stroke: rgba(0,0,0,0.1)*/
  fill: rgba(0,0,0,0.1)
}
